pkgbase = keepr-bin
	pkgdesc = Local-first desktop companion for home care reminders
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/JustRelaXX/Keepr
	install = keepr-bin.install
	arch = x86_64
	license = MIT
	optdepends = libappindicator-gtk3: system tray icon
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup
	depends = pango
	depends = webkit2gtk-4.1
	source_x86_64 = keepr-bin-0.1.2.deb::https://github.com/JustRelaXX/Keepr/releases/download/v0.1.2/Keepr_0.1.2_amd64.deb
	sha256sums_x86_64 = e358f5546db961b92bf9a120988f9157f3baf2e4856c765bf08588453aecaf3c

pkgname = keepr-bin
